<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV alexandre billereau</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="annimation.css">   
</head>
<body>
    <section id="hero_banner">
        <div id="flex_banner">
            <svg id="hero_left" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="828.996" height="452" viewBox="0 0 828.996 452">
                <defs>
                  <clipPath id="clip-path">
                    <rect id="Rectangle_1" data-name="Rectangle 1" width="805" height="452" transform="translate(0 0.584)" fill="rgba(99,98,98,0.85)" stroke="#707070" stroke-width="1"/>
                  </clipPath>
                </defs>
                <g id="Group_42" data-name="Group 42" transform="translate(-131.004 -281)">
                  <path id="Path_109" data-name="Path 109" d="M1026.17,754.858H741.092a1,1,0,1,1,0-2H1026.17a1,1,0,1,1,0,2Z" transform="translate(-608.996 -93.142)" fill="#fff"/>
                  <g id="Group_40" data-name="Group 40" transform="translate(0 -87)">
                    <g id="Group_41" data-name="Group 41">
                      <g id="Mask_Group_1" data-name="Mask Group 1" transform="translate(155 367.416)" clip-path="url(#clip-path)">
                        <g id="undraw_code_thinking_1jeh" transform="translate(0 59.056)">
                          <path id="Path_51" data-name="Path 51" d="M12.891.86,0,0,4.3,19.337l14.61-6.016Z" transform="matrix(0.469, -0.883, 0.883, 0.469, 134.162, 365.626)" fill="#ffdbac"/>
                          <path id="Path_52" data-name="Path 52" d="M380.064,511.414l-43.05-41.82-24.6,19.065-55.37,69.7,11.89,8.819,59.47-51.462,39.975,52.275,38.13-19.065Z" transform="translate(-153.259 -272.789)" fill="#2f2e41"/>
                          <path id="Path_53" data-name="Path 53" d="M380.064,511.414l-43.05-41.82-24.6,19.065-55.545,70.047,11.32,9.288L328.4,515.719l39.975,52.275,38.13-19.065Z" transform="translate(-153.259 -272.789)" opacity="0.1"/>
                          <path id="Path_54" data-name="Path 54" d="M557.621,1007.3l-22.287-6.756-44.9-15.375-10.455-4.305-20.91,4.305s0-17.22,19.68-16.6l20.3,4.92,51.974,4.493,3.416,21.252Z" transform="translate(-749.663 -320.047) rotate(-30)" fill="#ffdbac"/>
                          <path id="Path_55" data-name="Path 55" d="M346.156,650.506l-13.53,8.28H240.3L230.06,697.976l-14.15-3.309s-4.79-24.958-2.4-44.16S223.556,634.1,223.556,634.1l93.7-19.67Z" transform="translate(-75.686 -340.134)" fill="#2f2e41"/>
                          <path id="Path_56" data-name="Path 56" d="M521.531,799.628l-9.225,1.845-2.01-2.345a12.427,12.427,0,0,1-1.68-13.645h0l25.83-33.825s7.38-16.605,19.065-9.84-9.84,17.835-9.84,17.835l-12.915,20.295,1.23,10.455Z" transform="translate(-338.391 -597.288)" fill="#ffdbac"/>
                          <circle id="Ellipse_3" data-name="Ellipse 3" cx="23.985" cy="23.985" r="23.985" transform="translate(217.58 114.395)" fill="#ffdbac"/>
                          <path id="Path_57" data-name="Path 57" d="M654.978,762.633l11.07,26.445,26.445-11.07s-8.61-20.91-8.61-21.525S654.978,762.633,654.978,762.633Z" transform="translate(-424.176 -606.726)" fill="#ffdbac"/>
                          <path id="Path_58" data-name="Path 58" d="M657.474,864.612a137.8,137.8,0,0,1-6.758,42.623l-1.8,5.525-8.61,39.36-9.225,2.46-6.765-8.61-13.53-9.84-9.84-15.99-8.438-14.059-2.632-4.391-9.225-46.125L545.6,835.885l-11.685-1.845,2.46-6.765,10.455-14.145,10.455-1.23,3.075-2.46,2.46,1.23,9.84-5.535,3.075,1.23,17.983,1.673,10.922-2.288,15.707-8.431,6.433,1.052,22.14,18.45A137.686,137.686,0,0,1,657.474,864.612Z" transform="translate(-353.849 -630.47)" fill="#fff"/>
                          <path id="Path_60" data-name="Path 60" d="M613.844,504.985l-23.37,15.375-34.882,31.451-2.632-4.391-7.38-36.9h1.845l19.065-35.055Z" transform="translate(-316.929 -276.2)" opacity="0.1"/>
                          <path id="Path_61" data-name="Path 61" d="M540.064,466.66,521,501.715h-6.765l-4.3,12.3-9.84,2.461,26.445,28.9,37.515-33.825,23.37-15.375Z" transform="translate(-290.504 -271.085)" fill="#fff"/>
                          <circle id="Ellipse_4" data-name="Ellipse 4" cx="4.305" cy="4.305" r="4.305" transform="translate(249.252 136.842)" fill="#ffb9b9"/>
                          <rect id="Rectangle_23" class="rec_move_1" data-name="Rectangle 23" width="20.815" height="20.815" transform="translate(132.647 44.387)" fill="#fff"/>
                          <path id="Path_85" class="rec_move_4" data-name="Path 85" d="M0,0H20.815V20.815H0Z" fill="#fff"/>
                          <path id="Path_901" class="rec_move_5" data-name="Path 901" d="M0,0H20.815V20.815H0Z" fill="#fff"/>
                          <path id="Path_901" class="rec_move_6" data-name="Path 901" d="M0,0H20.815V20.815H0Z" fill="#fff"/>
                          <path id="Path_84" class="rec_move_2" data-name="Path 84" d="M0,0H20.815V20.815H0Z" transform="translate(69.5 20.309) rotate(133.063)" fill="#fff" />
                          <path id="Path_900" class="rec_move_3" data-name="Path 900" d="M0,0H20.815V20.815H0Z" fill="#fff" />
                          <path id="Path_66" data-name="Path 66" d="M1247.612,403.19h-193.4V399.2h-87.7v3.986H772.31a13.082,13.082,0,0,0-13.082,13.082s0,97.663,0,163.871V681.1a13.083,13.083,0,0,0,13.083,13.083h475.3a13.083,13.083,0,0,0,13.083-13.082V416.272a13.082,13.082,0,0,0-13.082-13.082Z" transform="translate(-484.735 -399.203)" fill="#999"/>
                          <rect id="Rectangle_26" data-name="Rectangle 26" width="466.389" height="263.091" transform="translate(292.032 27.106)" fill="#19e28c"/>
                          <circle id="Ellipse_5" data-name="Ellipse 5" cx="4.783" cy="4.783" r="4.783" transform="translate(520.044 10.364)" fill="#19e28c"/>
                          <path id="Path_67" data-name="Path 67" d="M1029.825,327.77H696.815V64.679Z" transform="translate(-404.783 -37.572)" opacity="0.1"/>
                          <circle id="Ellipse_6" data-name="Ellipse 6" cx="44.831" cy="44.831" r="44.831" transform="translate(320.177 180.849)" fill="#f2f2f2"/>
                          <path id="Path_68" data-name="Path 68" d="M921.722,863.5a55.765,55.765,0,1,1,55.765-55.765A55.765,55.765,0,0,1,921.722,863.5Zm0-110.8a55.036,55.036,0,1,0,55.036,55.036A55.036,55.036,0,0,0,921.722,752.7Z" transform="translate(-546.735 -604.128)" fill="#3f3d56"/>
                          <rect id="Rectangle_27" data-name="Rectangle 27" width="43.566" height="9.103" transform="translate(633.65 168.993)" fill="#3f3d56"/>
                          <rect id="Rectangle_28" data-name="Rectangle 28" width="148.904" height="3.901" transform="translate(580.98 98.118)" fill="#3f3d56"/>
                          <rect id="Rectangle_29" data-name="Rectangle 29" width="148.904" height="3.901" transform="translate(580.98 110.472)" fill="#3f3d56"/>
                          <rect id="Rectangle_30" data-name="Rectangle 30" width="148.904" height="3.901" transform="translate(580.98 122.827)" fill="#3f3d56"/>
                          <rect id="Rectangle_31" data-name="Rectangle 31" width="148.904" height="3.901" transform="translate(580.98 135.181)" fill="#3f3d56"/>
                          <rect id="Rectangle_32" data-name="Rectangle 32" width="148.904" height="3.901" transform="translate(580.98 147.536)" fill="#3f3d56"/>
                          <rect id="Rectangle_33" data-name="Rectangle 33" width="18.207" height="18.207" transform="translate(711.677 32.444)" fill="#f2f2f2"/>
                          <path id="Path_69" data-name="Path 69" d="M1835.359,509.585h-22.108V487.477h22.108Zm-21.147-.961H1834.4V488.438h-20.186Z" transform="translate(-1097.021 -450.482)" fill="#3f3d56"/>
                          <path id="Path_70" data-name="Path 70" d="M1246.167,1074.779H1200.65v-3.28a.651.651,0,0,0-.65-.65h-15.606a.65.65,0,0,0-.65.65v3.28h-9.759v-3.28a.65.65,0,0,0-.65-.65h-15.605a.65.65,0,0,0-.65.65v3.28h-9.75v-3.28a.65.65,0,0,0-.65-.65h-15.606a.65.65,0,0,0-.65.65v3.28h-9.753v-3.28a.65.65,0,0,0-.65-.65h-15.606a.65.65,0,0,0-.65.65v3.28h-9.753v-3.28a.65.65,0,0,0-.65-.65h-15.606a.65.65,0,0,0-.65.65v3.28h-9.754v-3.28a.65.65,0,0,0-.65-.65h-15.606a.65.65,0,0,0-.65.65v3.28h-9.753v-3.28a.65.65,0,0,0-.65-.65H917.795a.65.65,0,0,0-.65.65v3.28h-9.753v-3.28a.65.65,0,0,0-.65-.65H891.135a.65.65,0,0,0-.65.65v3.28h-9.753v-3.28a.65.65,0,0,0-.65-.65H864.475a.65.65,0,0,0-.65.65v3.28h-9.753v-3.28a.65.65,0,0,0-.65-.65H837.815a.65.65,0,0,0-.65.65v3.28h-9.753v-3.28a.65.65,0,0,0-.65-.65H811.156a.65.65,0,0,0-.65.65v3.28h-9.753v-3.28a.65.65,0,0,0-.65-.65H784.5a.65.65,0,0,0-.65.65v3.28h-9.753v-3.28a.65.65,0,0,0-.65-.65H757.836a.65.65,0,0,0-.65.65v3.28H727.275a15.606,15.606,0,0,0-15.606,15.605v7.056a15.606,15.606,0,0,0,15.605,15.606h518.892a15.606,15.606,0,0,0,15.606-15.606v-7.056A15.606,15.606,0,0,0,1246.167,1074.779Z" transform="translate(-457.108 -788.365)" fill="#999"/>
                          <path id="Path_110" data-name="Path 110" d="M12.891.86,0,0,4.3,19.337l14.61-6.016Z" transform="matrix(0.899, -0.438, 0.438, 0.899, 93.146, 290.525)" fill="#ffdbac"/>
                          <g id="Group_43" data-name="Group 43">
                            <path id="Path_59" data-name="Path 59" d="M31.367,24.983s3.849-6.523,2.223-7.284-8.529-3.8-8.529-3.8L14.936,10.546S.328-11.165.007,7.715,10.644,31.135,10.644,31.135s9.773,21.032,15.309,17.678S37.027,34.074,37.027,34.074,27.045,28.708,31.367,24.983Z" transform="matrix(0.469, -0.883, 0.883, 0.469, 105.869, 381.625)" fill="#fff"/>
                            <path id="Path_113" data-name="Path 113" d="M31.367,24.983s3.849-6.523,2.223-7.284-8.529-3.8-8.529-3.8L14.936,10.546S.328-11.165.007,7.715,10.644,31.135,10.644,31.135s9.773,21.032,15.309,17.678S37.027,34.074,37.027,34.074,27.045,28.708,31.367,24.983Z" transform="matrix(0.469, -0.883, 0.883, 0.469, 105.869, 379.625)" fill="#8a88b2"/>
                          </g>
                          <g id="Group_44" data-name="Group 44">
                            <path id="Path_111" data-name="Path 111" d="M31.367,24.983s3.849-6.523,2.223-7.284-8.529-3.8-8.529-3.8L14.936,10.546S.328-11.165.007,7.715,10.644,31.135,10.644,31.135s9.773,21.032,15.309,17.678S37.027,34.074,37.027,34.074,27.045,28.708,31.367,24.983Z" transform="matrix(0.899, -0.438, 0.438, 0.899, 60.852, 286.838)" fill="#fff"/>
                            <path id="Path_114" data-name="Path 114" d="M31.367,24.983s3.849-6.523,2.223-7.284-8.529-3.8-8.529-3.8L14.936,10.546S.328-11.165.007,7.715,10.644,31.135,10.644,31.135s9.773,21.032,15.309,17.678S37.027,34.074,37.027,34.074,27.045,28.708,31.367,24.983Z" transform="translate(62.852 285.838) rotate(-26)" fill="#8a88b2"/>
                          </g>
                        </g>
                      </g>
                      <path id="Path_86" class="cheuveux_banner" data-name="Path 86" d="M899.3,424.345c-4.027,4.3-11.5,1.99-12.029-3.88a7.106,7.106,0,0,1,.009-1.37c.271-2.6,1.77-4.961,1.411-7.707a4.045,4.045,0,0,0-.738-1.892c-3.209-4.3-10.741,1.925-13.769-1.971-1.857-2.389.326-6.151-1.1-8.822-1.881-3.525-7.451-1.786-10.944-3.716-3.887-2.148-3.654-8.122-1.1-11.756,3.12-4.432,8.591-6.8,13.993-7.137s10.768,1.122,15.811,3.091c5.731,2.237,11.413,5.329,14.94,10.378,4.289,6.139,4.7,14.392,2.557,21.571C907.041,415.5,902.588,420.836,899.3,424.345Z" transform="translate(-556.81 382.594) rotate(-14)" fill="#8d5524"/>
                    </g>
                  </g>
                </g>
            </svg>              
            <div id="hero_right">
                <h2>ALEXANDRE BILLEREAU</h2>
                <h3>Étudiant en génie logiciel et informatique</h3>
                <p>Mon truc c'est <span class="color_word" title="En même temp y a quoi d'autre dans la vie &#128150;">programmer</span>, j'aime découvrir les différentes solutions que propose l'univers de l'informatique, les <span class="color_word" title="Junit,Cunit a mort les bugs!!!!!!!!!">tester</span>  et me faire un avis sur celles que je prefère, pour les intégrer dans des <span class="color_word" title="ordinateur = windows ;futur = moi + ordinateur; print(futur); output: linux ">projets futurs</span>.
                  <br><br> <span class="color_word" title="conquérir le monde avec vim  &#128526; &#128526; &#128526;">Mon but </span>en programmant mon CV est que l'on me donne une chance. Pour cela je vous ai <span class="color_word" title="DES BONNES BLAGUES">concocté</span> les sections suivantes, qui vous donneront plus d'informations épicées qui devraient vous intéresser.</p>
                <a href="CV_AlexandreBillereau_2021.pdf" download>Télécharger mon cv papier</a>
            </div>
        </div>
    </section>
    <section id="exp_sec">
        <div id="flex_experience">
          <div id="experience_left">
            <h1>EXPÉRIENCES ET COMPÉTENCES</h1>
            <p>
              Au cours de mes études, hackathon et formations en ligne.
              J'ai pu toucher et apprendre de nombreuses technologies. 
              Il faut bien sûr le voir à l'échelle d'un étudiant qui n'a que trois années d'expérience et 22 ans. 
            </p>
            <p>Je fais bien sur d'autres choses que programmer.
               J'aime aller à la salle de sport. J'adore lire et découvrire de nouveaux auteurs même 
               si mes romans préféré son ceux de l'époque romantique.</p>
            <p>
              Mes passe-temps sont l'imprésion 3d et un jeux que je fait avec la libGDX. Il ne sont pas des projets.
              Ce sont justes des moments personnels qui m'apporte de la tranquillité.
            </p>
          </div>
          <div id="experience_right" class="scale_exp">

              <div id="information_exp">
                <div id="hide_information" hidden>
                  <div id="first_information">
                    <button id="close_exp_inf">
                      <svg id="close_icon" xmlns="http://www.w3.org/2000/svg" width="143.485" height="143.478" viewBox="0 0 143.485 143.478">
                        <g id="close" transform="translate(-6.776 -6.776)">
                          <path id="Path_1" data-name="Path 1" d="M23.148,9.586A9.587,9.587,0,1,0,9.59,23.144L64.964,78.516,9.585,133.882A9.587,9.587,0,1,0,23.143,147.44L78.521,92.073l55.373,55.373a9.587,9.587,0,1,0,13.558-13.558L92.078,78.516l55.373-55.373A9.587,9.587,0,1,0,133.893,9.585L78.521,64.959,23.148,9.579Z" transform="translate(0)"/>
                        </g>
                      </svg>
                    </button>
                    <h1 id="title_exp">Titre</h1>
                    <div></div>
                  </div>
                  
                  <div id="text_wrapper_exp">
                    <p id="text_exp">text</p>
                  </div>
                </div>
              </div>

              {{#each exemple}}
                <div class="case_wrapper">
                  <div class="case_exp exp_index__{{@index}}">
                    <object data="{{svg}}" class="logo"></object>
                    <h3>{{titre}}</h3>
                  </div>
                </div>
              {{/each}}

                {{!-- <div class="case_wrapper">
                  <div class="case_exp last_case_exp">
                    <object data="assets/dot.svg" class="logo"></object>
                    <h3>AUTRE</h3>
                  </div>
                </div> --}}
          </div>
        </div>
        <div id="phone_information_exp">
            <h1 id="title_exp_phone">Selectionner une expérience</h1>
            <p id="text_exp_phone"></p>
        </div>
        <svg id="wave"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1921" height="322.5" viewBox="0 0 1921 322.5">
          <defs>
            <linearGradient id="linear-gradient" y1="0.644" x2="1" y2="0.5" gradientUnits="objectBoundingBox">
              <stop offset="0" stop-color="#2529ea"/>
              <stop offset="0.284" stop-color="#23c4e2"/>
              <stop offset="0.653" stop-color="#35e6b8"/>
              <stop offset="1" stop-color="#0fc94d"/>
            </linearGradient>
            <linearGradient id="linear-gradient-2" x2="1" gradientUnits="objectBoundingBox">
              <stop offset="0" stop-color="#2529ea"/>
              <stop offset="0.28" stop-color="#23c4e2"/>
              <stop offset="0.669" stop-color="#35e6b8"/>
              <stop offset="1" stop-color="#0fc94d"/>
            </linearGradient>
          </defs>
          <g id="Group_2" data-name="Group 2" transform="translate(0.5 -1218)">
            <path id="Path_6" data-name="Path 6" d="M1920,64l-64,27.852c-64,27.435-192,83.766-320,127.891-128,44.543-256,77.924-384,83.453-128,5.946-256-17-384-66.762C640,186.05,512,108.856,384,86.219,256,64,128,97.381,64,114.072L0,130.762.808,331.049H1920Z" transform="translate(0 1154)" fill="url(#linear-gradient)"/>
            <rect id="Rectangle_2" data-name="Rectangle 2" width="1915" height="40" transform="translate(3 1484)" fill="url(#linear-gradient-2)"/>
            <path id="Path_7" data-name="Path 7" d="M1920,64l-64,27.716c-64,27.3-192,83.356-320,127.266-128,44.325-256,77.543-384,83.045-128,5.917-256-16.92-384-66.436C640,185.453,512,108.636,384,86.111,256,64,128,97.218,64,113.827L0,130.436V329.743H1920Z" transform="translate(0 1210.257)" fill="#fff" stroke="#fff" stroke-width="1"/>
          </g>
        </svg>
    </section>
    <section id="section_apprendre">
      <svg  id="apprendre_left" xmlns="http://www.w3.org/2000/svg" width="806.004" height="609.716" viewBox="0 0 806.004 609.716">
        <g id="Group_1" data-name="Group 1" transform="translate(-122 -170)">
          <g id="undraw_Followers_re_6k3g" transform="translate(122 170)">
            <path id="Path_1" data-name="Path 1" d="M854.566,579.69H213.728a16.519,16.519,0,0,1-16.5-16.5V168.036a12.1,12.1,0,0,1,12.088-12.088H858.769a12.311,12.311,0,0,1,12.3,12.3V563.19a16.519,16.519,0,0,1-16.5,16.5Z" transform="translate(-196.996 -145.142)" fill="#f2f2f2"/>
            <path id="Path_2" data-name="Path 2" d="M833.846,558.858H236.6c-8.755,0-15.878-6.67-15.878-14.868V199.885c0-6.08,5.278-11.027,11.766-11.027H837.764c6.6,0,11.961,5.028,11.961,11.208V543.99C849.724,552.188,842.6,558.858,833.846,558.858Z" transform="translate(-196.996 -145.142)" fill="#fff"/>
            <path id="Path_3" data-name="Path 3" d="M870.837,170.092H197v-8.4a16.574,16.574,0,0,1,16.56-16.55H854.277a16.574,16.574,0,0,1,16.56,16.55Z" transform="translate(-196.996 -145.142)" fill="#3f3d56"/>
            <circle id="Ellipse_1" data-name="Ellipse 1" cx="4.283" cy="4.283" r="4.283" transform="translate(25.812 8.217)" fill="#f20e0e"/>
            <path id="Path_28" data-name="Path 28" d="M4.283,0A4.283,4.283,0,1,1,0,4.283,4.283,4.283,0,0,1,4.283,0Z" transform="translate(42.071 8.217)" fill="#f8a704"/>
            <circle id="Ellipse_3" data-name="Ellipse 3" cx="4.283" cy="4.283" r="4.283" transform="translate(58.33 8.217)" fill="#03d943"/>
            <path id="Path_4" data-name="Path 4" d="M389.344,242.908H283.794a16,16,0,0,0-16,16v71.83a16,16,0,0,0,16,16h105.55a16,16,0,0,0,16-16V258.908a16,16,0,0,0-16-16Z" transform="translate(-196.996 -145.142)" fill="#19e18c"/>
            <path id="Path_5" data-name="Path 5" d="M463.793,258.9v71.839a16,16,0,0,0,16,16H585.341a16,16,0,0,0,16-16V258.9a16,16,0,0,0-16-16H479.793A16,16,0,0,0,463.793,258.9Z" transform="translate(-196.996 -145.142)" fill="#19e18c"/>
            <path id="Path_6" data-name="Path 6" d="M659.793,258.9v71.839a16,16,0,0,0,16,16H781.341a16,16,0,0,0,16-16V258.9a16,16,0,0,0-16-16H675.793A16,16,0,0,0,659.793,258.9Z" transform="translate(-196.996 11.666)" fill="#e6e6e6"/>
            <path id="Path_7" data-name="Path 7" d="M267.793,417.9v71.839a16,16,0,0,0,16,16H389.341a16,16,0,0,0,16-16V417.9a16,16,0,0,0-16-16H283.793A16,16,0,0,0,267.793,417.9Z" transform="translate(-196.996 -145.142)" fill="#e6e6e6"/>
            <path id="Path_8" data-name="Path 8" d="M463.793,417.9v71.839a16,16,0,0,0,16,16H585.341a16,16,0,0,0,16-16V417.9a16,16,0,0,0-16-16H479.793A16,16,0,0,0,463.793,417.9Z" transform="translate(-196.996 -145.142)" fill="#e6e6e6"/>
            <path id="Path_9" data-name="Path 9" d="M659.793,417.9v71.839a16,16,0,0,0,16,16H781.341a16,16,0,0,0,16-16V417.9a16,16,0,0,0-16-16H675.793A16,16,0,0,0,659.793,417.9Z" transform="translate(-196.999 -304.138)" fill="#19e18c"/>
            <path id="Path_16" data-name="Path 16" d="M1002,754.858H741a1,1,0,0,1,0-2h261a1,1,0,0,1,0,2Z" transform="translate(-196.996 -145.142)" fill="#3f3d56"/>
            <path id="Path_17" data-name="Path 17" d="M670.716,597.522H658.457l-5.833-47.288h18.094Z" fill="#ffdbac"/>
            <path id="Path_18" data-name="Path 18" d="M649.7,594.018h23.644V608.9h-38.53A14.887,14.887,0,0,1,649.7,594.018Z" fill="#2f2e41"/>
            <path id="Path_19" data-name="Path 19" d="M716.716,597.522H704.457l-5.833-47.288h18.094Z" fill="#ffdbac"/>
            <path id="Path_20" data-name="Path 20" d="M695.7,594.018h23.644V608.9h-38.53A14.887,14.887,0,0,1,695.7,594.018Z" fill="#2f2e41"/>
            <path id="Path_21" data-name="Path 21" d="M912.215,601.826a10.743,10.743,0,0,1-2.062-16.343L902.08,470.925l23.253,2.255.639,112.187a10.8,10.8,0,0,1-13.757,16.459Z" transform="translate(-196.996 -145.142)" fill="#ffdbac"/>
            <path id="Path_22" data-name="Path 22" d="M867.133,718.841l-13.5-.643a4.5,4.5,0,0,1-4.286-4.463c-3.558-54.919-8.486-113.807-.942-136.557a4.5,4.5,0,0,1,5.146-4.485l53.994,7.838a4.474,4.474,0,0,1,3.854,4.42c6.893,26.936,7.205,75.782,6.944,126.534a4.5,4.5,0,0,1-4.5,4.534H899.3a4.479,4.479,0,0,1-4.445-3.8l-8.977-57.067a3.5,3.5,0,0,0-6.933.128l-7.126,59.6a4.517,4.517,0,0,1-4.469,3.966Q867.241,718.847,867.133,718.841Z" transform="translate(-196.996 -145.142)" fill="#2f2e41"/>
            <path id="Path_23" data-name="Path 23" d="M876.634,584.956c-11.9-6.611-21.2-8.349-25.68-8.8a4.418,4.418,0,0,1-3.054-1.673,4.478,4.478,0,0,1-.931-3.4l12.938-96.051a33.219,33.219,0,0,1,19.364-25.957,32.306,32.306,0,0,1,31.4,2.461q.665.442,1.305.9a33.178,33.178,0,0,1,12.637,34.574c-7.934,32.455-10.659,85.662-11.124,96a4.466,4.466,0,0,1-2.918,4,45.086,45.086,0,0,1-15.226,2.711,38.124,38.124,0,0,1-18.706-4.775Z" transform="translate(-196.996 -145.142)" fill="#3f3d56"/>
            <path id="Path_24" data-name="Path 24" d="M907.344,509.418a4.482,4.482,0,0,1-1.859-3.4l-1.7-30.876a12.4,12.4,0,0,1,24.347-3.927l7.485,27.6a4.505,4.505,0,0,1-3.166,5.521l-21.291,5.773a4.483,4.483,0,0,1-3.812-.694Z" transform="translate(-196.996 -145.142)" fill="#3f3d56"/>
            <circle id="Ellipse_10" data-name="Ellipse 10" cx="24.561" cy="24.561" r="24.561" transform="translate(665.899 241.772)" fill="#ffdbac"/>
            <path id="Path_25" data-name="Path 25" d="M798.452,459.73a10.523,10.523,0,0,1,.239,1.64l42.958,24.782,10.441-6.011,11.131,14.572-22.337,15.921-49.008-38.663a10.5,10.5,0,1,1,6.576-12.241Z" transform="translate(-196.996 -145.142)" fill="#ffdbac"/>
            <path id="Path_26" data-name="Path 26" d="M843.183,484.045a4.482,4.482,0,0,1,1.293-3.653l21.863-21.868a12.4,12.4,0,0,1,19.168,15.516l-15.57,23.992a4.505,4.505,0,0,1-6.224,1.325l-18.5-12.008A4.483,4.483,0,0,1,843.183,484.045Z" transform="translate(-196.996 -145.142)" fill="#3f3d56"/>
            <path id="Path_27" data-name="Path 27" d="M904.837,430.907c-4.582,4.881-13.091,2.261-13.688-4.407a8.054,8.054,0,0,1,.01-1.556c.308-2.954,2.015-5.635,1.606-8.754a4.59,4.59,0,0,0-.84-2.149c-3.651-4.889-12.222,2.187-15.668-2.239-2.113-2.714.371-6.987-1.251-10.021-2.14-4-8.479-2.029-12.454-4.221-4.423-2.439-4.158-9.225-1.247-13.353,3.551-5.034,9.776-7.72,15.923-8.107s12.253,1.275,17.992,3.511c6.521,2.541,12.988,6.053,17,11.788,4.88,6.973,5.35,16.348,2.909,24.5C913.645,420.862,908.578,426.922,904.837,430.907Z" transform="translate(-196.996 -145.142)" fill="#8d5524"/>
          </g>
          <path id="docker" d="M46.044,30.4h6.979a.612.612,0,0,0,.612-.608V23.579a.612.612,0,0,0-.612-.612H46.044a.608.608,0,0,0-.608.608v6.217a.608.608,0,0,0,.608.608M36.316,12.519h6.974a.612.612,0,0,0,.612-.612V5.692a.612.612,0,0,0-.612-.608H36.316a.608.608,0,0,0-.608.608v6.217a.607.607,0,0,0,.608.608m0,8.944h6.974a.615.615,0,0,0,.612-.612V14.636a.612.612,0,0,0-.612-.608H36.316a.608.608,0,0,0-.608.608v6.213a.613.613,0,0,0,.608.612m-9.648,0h6.981a.612.612,0,0,0,.606-.612V14.636a.608.608,0,0,0-.608-.608H26.672a.608.608,0,0,0-.608.608v6.213a.615.615,0,0,0,.608.612m-9.76,0h6.979a.612.612,0,0,0,.608-.612V14.636a.608.608,0,0,0-.608-.608H16.912a.612.612,0,0,0-.612.608v6.213a.618.618,0,0,0,.612.612m19.4,8.939h6.974a.612.612,0,0,0,.612-.608V23.579a.612.612,0,0,0-.612-.612H36.316a.608.608,0,0,0-.608.608v6.217a.607.607,0,0,0,.608.608m-9.648,0h6.981a.608.608,0,0,0,.606-.608V23.579a.608.608,0,0,0-.606-.612H26.668a.608.608,0,0,0-.606.608v6.217a.608.608,0,0,0,.608.608m-9.76,0h6.979a.608.608,0,0,0,.608-.608V23.579a.608.608,0,0,0-.606-.612H16.91a.612.612,0,0,0-.612.612v6.213a.612.612,0,0,0,.612.608m-9.615,0h6.981a.608.608,0,0,0,.606-.608V23.579a.608.608,0,0,0-.606-.612H7.294a.608.608,0,0,0-.606.608v6.217A.607.607,0,0,0,7.3,30.4m70.954-3.91c-.215-.167-2.213-1.679-6.434-1.679a20.13,20.13,0,0,0-3.326.288,12.4,12.4,0,0,0-5.651-8.45l-1.133-.654-.744,1.078a15.157,15.157,0,0,0-2.015,4.709,11.147,11.147,0,0,0,1.328,8.764,15.467,15.467,0,0,1-5.743,1.383H2.474A2.474,2.474,0,0,0,0,34.391,37.461,37.461,0,0,0,2.283,47.767c1.8,4.7,4.461,8.167,7.936,10.287C14.1,60.436,20.427,61.8,27.59,61.8a51.831,51.831,0,0,0,9.648-.876,40.332,40.332,0,0,0,12.588-4.573,34.609,34.609,0,0,0,8.595-7.034,47.9,47.9,0,0,0,8.406-14.489h.729a12.116,12.116,0,0,0,8.825-3.321,9.621,9.621,0,0,0,2.327-3.444l.323-.948Z" transform="translate(225 288.916)"/>
          <path id="vuejs" d="M63.409,2.415H37.147L31.7,12.1,26.262,2.415H0L31.7,59.131ZM31.7,36.45,13.633,4.107h11.7L31.7,15.516,38.072,4.107h11.7Z" transform="translate(426 291.585)"/>
          <path id="statistics" d="M50.763,58H7.264a6.989,6.989,0,0,1-5.127-2.124A6.972,6.972,0,0,1,.015,50.748V7.25A6.989,6.989,0,0,1,2.139,2.124,6.977,6.977,0,0,1,7.265,0h43.5a6.989,6.989,0,0,1,5.127,2.124A6.977,6.977,0,0,1,58.015,7.25v43.5A7.251,7.251,0,0,1,50.765,58ZM18.139,41.687a1.84,1.84,0,0,0-1.813-1.813H12.7a1.84,1.84,0,0,0-1.813,1.813v7.25A1.84,1.84,0,0,0,12.7,50.75h3.625a1.84,1.84,0,0,0,1.813-1.813Zm14.5-14.5a1.84,1.84,0,0,0-1.813-1.813H27.2a1.84,1.84,0,0,0-1.813,1.813v21.75A1.84,1.84,0,0,0,27.2,50.75h3.625a1.84,1.84,0,0,0,1.813-1.813V27.187Zm14.5-18.124A1.84,1.84,0,0,0,45.325,7.25H41.7a1.84,1.84,0,0,0-1.813,1.813V48.937A1.84,1.84,0,0,0,41.7,50.75h3.625a1.84,1.84,0,0,0,1.813-1.813V9.063Z" transform="translate(625.985 294)"/>
        </g>
      </svg>
      <div id="apprendre_right">
        <h1>CE QUE J'AIMERAIS APPRENDRE</h1>
        <p>Docker : On en parle beaucoup autour de moi. Ce qui en fait une des premières technologies qui m'intrigue.</p>
        <p>Infographie : En effet depuis que je programme avec la libGDX, je trouve une satisfactions a programmer et j'aimerais approfondire ce sujet.</p>      
        <p>Jeux vidéo : Toujours la libGdx qui me fascine. Ce pouvoir de lier l'art a l'informatique et très satisfaisant. Un jeux c'est vraiment un petit miracle quand on y pense. </p>      
      </div>
    </section>
    <section id="section_travail">


    <div id="travail_right">
      <h1>EMPLOIS</h1>
      <div class="travail_info">
        <div class="xmp">
          <h2>2021 - 4 mois</h2>
          <h3>CGI - intégration</h3>
          <p>Mon stage à CGI consitait à intégrer des pages pour le site de réservation de billets de VIA-RAIL Canada. Durant ces 4 mois j'ai fait de l'angular et du NestJs. Toute ma formation fut encadrée par un POD lead et le logiciel Jira.</p>
          <p></p>
        </div>
        <div class="xmp">
            <h2>2020</h2>
            <h3>BIYIGAMES</h3>
            <p>Ma mission finale a été de créer le site. Du design au code. Tout a été fait par moi avec des validations journalières de mon employeur.</p>
            <p>Site vitrine : <a href="https://biyigames.com/" target="_blanck">BIYIGAMES</a></p>
            <p>Site concept : en angular <a href="https://biyigames-6niia8ne4.vercel.app/" target="_blanck">concept</a> </p>
        </div>
        
      </div>
      <div class="travail_info">
        <div class="xmp">
            <h2>2019 - 4 mois</h2>
            <h3>YTRIA</h3>
            <p>La mission de mon stage était de créer un site web et le serveur Lamp, from scratch, pour l'interne et pour les clients, qui permet de trouver les codes des produits vendus par Ytria, selon les produits Microsoft associés sur la page web ou via une API.</p>
            <p>Lien vers leur site : <a href="https://www.ytria.com/" target="_blanck">YTRIA</a></p>
        </div>
        <div class="xmp">
        </div>
      </div>
    </div>
    </section>
    <section id="contact">
      <p>Email : alexandre.mr.billereau@gmail.com</p>
      <p>Téléphone : (438)-829-1406</p>
    </section>

 





    <script src="main.js"></script>
</body>
</html>